.main-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: top 3px bottom 3px left 3px right 3px;
    border-color: black;
    p {
        color: brown;
        font-family: cursive;
        font-size: 2em;
    }
}